@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    background-color: rgba(22,105,66,0.8);
    margin: 0;
}

h1 {
    font-family: 'VT323', monospace;
    font-size: 7vw;
    line-height: 5vw;
    margin: 0;
}

h2 {
    font-family: 'VT323', monospace;
    font-size: 5vw;
    line-height: 4vw;
    margin: 0;
}

input {
    font-family: 'VT323', monospace;
    font-size: 5vw;
    line-height: 4vw;
    margin: 0;
}

#title {
    border: solid 3px black;
    padding: 2vw 4vw;
    width: fit-content;
    margin: auto;
    margin-top: 5vh;
}

a {
    color: black;
    text-decoration-thickness: 1px;
}

li {
    margin-left: 4vw;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}

button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}