body {
    margin: 0;
    background-color: cornflowerblue;
}


@-webkit-keyframes move {
    from { background-position: center top; }
    to { background-position: center bottom; }
}

@-moz-keyframes move {
    from { background-position: center top; }
    to { background-position: center bottom; }
}

@keyframes move {
    from { background-position: center top; }
    to { background-position: center bottom; }
}

#frame {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

#tearpic {
    background-image: url(pic/2-01.png);
    height: 100%;
    background-size: 100% 1200%;
    background-repeat: no-repeat;
    -webkit-animation: move 1s steps(11, end) infinite;
    -moz-animation: move 1s steps(11, end) infinite;
    animation: move 1s steps(11, end) infinite;
}